<!DOCTYPE html>
<html>
  <head>
    <title>TSConfig tuning helper</title>
    <link rel="stylesheet" href="/styles/normalize.css"/>
    <link rel="stylesheet" href="/styles/markdown.css"/>
    <link rel="stylesheet" href="/styles/index.css"/>
  </head>
  <body>
    <div class="container">
      <div class="search-block">
        <input type="text" name="search" placeholder="Search flag by name" />
      </div>
      <div class="content">
        {% for optionKey, option in data %}
        <div class="flag-block">
            <div class="flag-name">{{ option.name }}</div>
            <div class="flag-description">{{ option.brief }}</div>
            <div class="flag-type"><strong>Type:</strong> {{ option.type }}</div>
            {% if option.allowedValues %}
            <div class="flag-default"><strong>Allowed:</strong> {{ option.allowedValues }}</div>
            {% endif %}
            <div class="flag-default"><strong>Default:</strong> {{ option.defaultValue }}</div>
            {% if option.hints and option.hints.length %}
            <div class="flag-hints">
              <p><img src="/images/icons/bulb.svg" alt="bulb icon"/> Hints:</p>
              <ul>
                {% for hint in option.hints %}
                <li><img src="/images/icons/bullet.svg" alt=""/> {{ hint }}</li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
            {% if option.relations and option.relations.length %}
            <div class="flag-relations">
              <p><img src="/images/icons/relation.svg" alt=""/> Relations:</p>
              <ul>
                {% for relation in option.relations %}
                <li>
                  <img alt="" src="/images/icons/relation-{{ relation.icon }}.svg" />
                  {{ relation.caption }} <span class="flag-name">{{ relation.to }}</span>
                </li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
