body {
    font-family: Lato, sans-serif;
}
.container {
    width: 1024px;
    margin: 0 auto;
}
.search-block {
    margin: 20px 0;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 32px;
}
.search-block input {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    color: #3a3939;
    box-sizing: border-box;
}
.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 32px;
}
.flag-block {
    background: #fff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 16px;
}
.flag-block + .flag-block {
    margin-top: 24px;
}
.flag-name {
    background: #EEEEEE;
    width: fit-content;
    padding: 4px;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    font-size: 20px;
    border-radius: 5px;
    margin-bottom: 16px;
}
.flag-description {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    margin-bottom: 24px;
}
.flag-type {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    margin-bottom: 8px;
    color: rgba(0, 0, 0, 0.58);
    font-size: 14px;
}
.flag-default {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: rgba(0, 0, 0, 0.58);
    font-size: 14px;
}
.flag-hints {
    margin-top: 48px;
}
.flag-hints p,
.flag-relations p {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.flag-hints p svg,
.flag-relations p svg {
    margin-right: 4px;
}
.flag-hints ul,
.flag-relations ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.flag-hints ul li {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.flag-hints ul li + li {
    margin-top: 16px;
}
.flag-hints ul li svg,
.flag-relations ul li svg {
    margin-right: 8px;
}

.flag-relations {
    margin-top: 52px;
}
.flag-relations ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.flag-relations ul li {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.flag-relations ul li .flag-name {
    font-size: 12px;
    margin-bottom: 0;
    margin-left: 8px;
}



.examples-block {
    background: #fff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
